ul > li > a.active {
  background-color: white !important;
  color: #8b0000 !important;
  border-radius: 3px;
  font-weight: 700;
}

ul > li > a {
  padding: 5px 15px !important;
  margin-left: 5px;
}
ul > li > a:hover {
  background: whitesmoke !important;
  color: brown !important;
  padding: 5px 15px !important;
  border-radius: 3px;
}
